nav{
    margin: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px 1.5px #393E46;
    border-radius: 5px;
}

nav h1{
    color: #1089FF;
    font-size: 42px;
    font-family: Tahoma, sans-serif;
    letter-spacing: 1.5px;
}
nav p{
    color: white;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    letter-spacing: 1.5px;
    margin-top: -2%;
}